
<h1>Hello, nothing more to see here!</h1>
<div class="row">You are logged in and should be connected to the TestHub</div>
<div class="row">Connected to hub: <span id="connectStatus"></span></div>



<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/signalr.min.js"></script>
<script type="text/javascript" src="~/Scripts/TestHub.js"></script>

